<a href="https://colab.research.google.com/github/GLuarte/TareasX/blob/master/CERTAMEN_2_UDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [71]:
url1='https://raw.githubusercontent.com/GLuarte/TareasX/master/WHO-COVID-19-global-data.csv'
url2='https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto33/IndiceDeMovilidad-IM_externo.csv'
url3='https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto8/UCI_T.csv'
url4='https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv'
data_ww=pd.read_csv(url1)
data_ww=data_ww[['Date_reported','Country','New_cases','Cumulative_cases','New_deaths','Cumulative_deaths']]
i_mov=pd.read_csv(url2)
#i_mov.drop(['Codigo Region','Comuna','Codigo comuna','Superficie_km2'],axis=1)
uci_t=pd.read_csv(url3)
cases_CL=pd.read_csv(url4)

In [3]:
data_ww.head()

          Date_reported      Country  ...  New_deaths  Cumulative_deaths
0  2020-02-24T00:00:00Z  Afghanistan  ...           0                  0
1  2020-02-25T00:00:00Z  Afghanistan  ...           0                  0
2  2020-02-26T00:00:00Z  Afghanistan  ...           0                  0
3  2020-02-27T00:00:00Z  Afghanistan  ...           0                  0
4  2020-02-28T00:00:00Z  Afghanistan  ...           0                  0

[5 rows x 6 columns]

In [72]:
#Date formating
dates=[]
dates2=[]
for i in range(len(data_ww)):
  dates.append(data_ww['Date_reported'][i][0:10])
for i in dates:
  dates2.append(datetime.date(int(i[0:4]),int(i[5:7]),int(i[8:10])))
data_ww.pop('Date_reported')
data_ww.insert(0,'Date_reported',dates2)

In [73]:

## casos x pais
def casos_pais(dfile, country, fecha):
  C=country
  for i,j in enumerate(dfile['Country']):
    if j==C and dfile['Date_reported'][i]==fecha:
      result1=(C,fecha,dfile['Cumulative_cases'][i])

  
  return result1

In [74]:

##Ranking x pais
def n_casos_pais(n,fecha,dfile):
  ind=[]
  for i,j in enumerate(dfile['Date_reported']):
    if(j==fecha):
      ind.append(i)

  rank=pd.DataFrame(dfile.loc[ind])
  rank=rank.sort_values('Cumulative_cases',axis=0,ascending=False)
  indx=[]
  for i in range(1,n+1):
    indx.append(i)
  rank=pd.DataFrame(rank[:n])
  #rank=rank.reindex(indx)
  rank=rank.reset_index(drop=True)
  rank=rank[['Date_reported','Country','Cumulative_cases']]

 

  return (rank)

In [75]:
# Max Fallecidos

def max_fallecidos(dfile):
  deaths=pd.DataFrame(dfile.sort_values('Cumulative_deaths',ascending=False))
  deaths.reset_index(drop=True)
  deaths=deaths[:1]
  for i in (deaths.index):
    max_death=((deaths['Country'][i],deaths['Cumulative_deaths'][i]))
  
  return max_death

In [76]:


#COMPARA FALLECIDOS X PAIS
def compara_fallecidos_paises(pais1,pais2,fecha,dfile):

  ind=[]
  for i,j in enumerate(dfile['Date_reported']):
    if(j==fecha):
      ind.append(i)

  d1=pd.DataFrame(dfile.loc[ind])
  
  comp=[]
  for i in (d1.index):
    
    if(d1['Country'][i]==pais1 or d1['Country'][i]==pais2):
      comp.append(d1['Country'][i])
      comp.append(int(d1['Cumulative_deaths'][i]))
      comp.append(int(d1['New_deaths'][i]))
    
  if (comp[1]>comp[4]):
    x1=comp[0]
    y1=comp[1]
  elif(comp[1]<comp[4]):
    x1=comp[3]
    y1=comp[4]
  else:
    x1='La cantidad de fallecidos acumulados es la misma'
    y1=comp[1]  

  if (comp[2]>comp[5]):
    x2=comp[0]
    y2=comp[2]
  elif(comp[2]<comp[5]):
    x2=comp[3]
    y2=comp[5]
  else:
    x2='La cantidad de nuevos fallecidos es la misma'
    y2=comp[2] 

  result4=(x1,y1,x2,y2)
  return result4

In [77]:
fecha=input().split()
fecha=datetime.date(int(fecha[0]),int(fecha[1]),int(fecha[2]))

2020 3 15

In [78]:
country=str(input())
result1=casos_pais(data_ww,country,fecha)
print('País:',result1[0],'Fecha:',result1[1],'Contagiados:',result1[2])

Chile
País: Chile Fecha: 2020-03-15 Contagiados: 61

In [79]:
n=int(input())
result2=n_casos_pais(n,fecha,data_ww)
print(result2)

15
   Date_reported                     Country  Cumulative_cases
0     2020-03-15                       China             81048
1     2020-03-15                       Italy             24747
2     2020-03-15  Iran (Islamic Republic of)             13983
3     2020-03-15           Republic of Korea              8162
4     2020-03-15                       Spain              7753
5     2020-03-15                      France              5380
6     2020-03-15                     Germany              4838
7     2020-03-15                 Switzerland              2200
8     2020-03-15    United States of America              1714
9     2020-03-15          The United Kingdom              1395
10    2020-03-15                 Netherlands              1135
11    2020-03-15                      Norway              1077
12    2020-03-15                      Sweden               992
13    2020-03-15                     Belgium               886
14    2020-03-15                     Denmark               864

In [80]:
result3=max_fallecidos(data_ww)
print(result3)

('United States of America', 115980)

In [81]:
pais1=str(input())
pais2=str(input())
result4=compara_fallecidos_paises(pais1,pais2,fecha,data_ww)
print(result4)

Chile
Sweden
('Sweden', 3, 'Sweden', 3)

In [ ]:
cases_CL

                 Region  Codigo region  ... 2020-06-15    Tasa
0    Arica y Parinacota             15  ...     1176.0   475.1
1    Arica y Parinacota             15  ...        0.0     0.0
2    Arica y Parinacota             15  ...        0.0     0.0
3    Arica y Parinacota             15  ...        3.0   119.3
4              Tarapacá              1  ...     1468.0  1129.2
..                  ...            ...  ...        ...     ...
341          Magallanes             12  ...     1136.0   800.1
342          Magallanes             12  ...        0.0     0.0
343          Magallanes             12  ...        2.0   293.7
344          Magallanes             12  ...        0.0     0.0
345          Magallanes             12  ...        0.0     0.0

[346 rows x 32 columns]

In [82]:
def contagiados_region(dfile):
  dfile=dfile.copy()  
  columns=list(dfile)

  del columns[:5]
  columns.remove('Tasa')

  dfile["sum"] = dfile[columns].sum(axis=1)

  dfile=dfile[['Region','sum']]
  regiones=[]
  for i in dfile['Region']:
    if i not in regiones:
      regiones.append(i)

  casos=np.zeros(len(regiones))
  for i,j in enumerate (dfile['sum']):
    for k in range(len(regiones)):

      if (dfile['Region'][i]==regiones[k]):
        casos[k]+=j

  casos.astype(int)
  casosxregion = {regiones[i]: casos[i] for i in range(len(regiones))}
  return(casosxregion)

In [125]:
def contagiados_file_r(dfile,region):
  
  ind=[]
  for i,j in enumerate(dfile['Region']):
    if(j==region):
      ind.append(i)
  d1=pd.DataFrame(dfile.loc[ind])
  columns=list(dfile)
  #print(columns)
  del columns[:5]
  columns.remove('Tasa')
  #print(columns)

  
  d1["sum"] = d1[columns].sum(axis=1)
  
  d1=d1[['Comuna','sum']]
  #print(d1)
  
  comunas=[]
  for i in d1['Comuna']:
    if i not in comunas:
      comunas.append(i)
  
  
  casos=np.zeros(len(comunas))
  
  for i in (d1.index):
    for k in range(len(comunas)):

      if (d1['Comuna'][i]==comunas[k]):
        casos[k]+=d1['sum'][i]

  casos.astype(int)
  casosxcomuna = {comunas[i]: casos[i] for i in range(len(comunas))}
  dcasosxcomuna=pd.DataFrame.from_dict(casosxcomuna, orient='index',columns=['Casos'])
  region=region+'.csv'
  region=region.lower()
  region=region.replace(' ','_')
  dcasosxcomuna.to_csv(region,index=True)
  return(dcasosxcomuna)

In [83]:
result5=contagiados_region(cases_CL)
print(result5)

{'Arica y Parinacota': 10883.0, 'Tarapacá': 31068.0, 'Antofagasta': 37013.0, 'Atacama': 3774.0, 'Coquimbo': 10950.0, 'Valparaíso': 53271.0, 'Metropolitana': 1125455.0, 'O’Higgins': 14328.0, 'Maule': 23347.0, 'Ñuble': 25135.0, 'Biobío': 33864.0, 'Araucanía': 37845.0, 'Los Ríos': 6354.0, 'Los Lagos': 15640.0, 'Aysén': 215.0, 'Magallanes': 19271.0}

In [126]:
region=input()
result6=contagiados_file_r(cases_CL,region)
print(result6)

Biobío
                      Casos
Alto Biobio           778.0
Antuco                158.0
Arauco                757.0
Cabrero               565.0
Canete                139.0
Chiguayante          2030.0
Concepcion           5681.0
Contulmo                8.0
Coronel              2258.0
Curanilahue           148.0
Florida                88.0
Hualpen              3185.0
Hualqui               660.0
Laja                  818.0
Lebu                   66.0
Los Alamos             50.0
Los Angeles          3170.0
Lota                  656.0
Mulchen               288.0
Nacimiento            553.0
Negrete               447.0
Penco                 802.0
Quilaco                20.0
Quilleco               33.0
San Pedro de la Paz  3604.0
San Rosendo            40.0
Santa Barbara         386.0
Santa Juana           120.0
Talcahuano           3673.0
Tirua                 112.0
Tome                 1716.0
Tucapel               270.0
Yumbel                417.0
Desconocido Biobio    168.0

In [ ]:
i_mov.head()

        Region  Codigo region       Comuna  ...  2020-05-15  2020-05-16  2020-05-17
0  Antofagasta              2  Antofagasta  ...    0.089961    0.057595    0.050242
1  Antofagasta              2       Calama  ...    0.089586    0.066888    0.050982
2  Antofagasta              2  María Elena  ...    0.948624    0.783945    0.618807
3  Antofagasta              2   Mejillones  ...    1.475055    0.927649    0.759889
4  Antofagasta              2      Ollagüe  ...    0.294118    0.882353    0.323529

[5 rows x 87 columns]

In [141]:
uci_t.head()

          Region  Arica y Parinacota  Tarapacá  ...  Los Lagos   Aysén  Magallanes
0  Codigo region                  15         1  ...         10      11          12
1      Poblacion              252110    382773  ...     891440  107297      178362
2     2020-04-01                   0         1  ...         10       0           5
3     2020-04-02                   0         1  ...         12       0          10
4     2020-04-03                   0         1  ...         18       0          11

[5 rows x 17 columns]

In [138]:
def internados_uci_region(dfile):
  dfile=dfile.copy()  
  regiones=list(dfile)
  regiones.remove('Region')
  ucixregion={i: uci_t[i][len(dfile)-1] for i in(regiones)}
  return ucixregion

In [140]:
result7=internados_uci_region(uci_t)
print(result7)

{'Arica y Parinacota': 15, 'Tarapacá': 38, 'Antofagasta': 68, 'Atacama': 7, 'Coquimbo': 21, 'Valparaíso': 122, 'Metropolitana': 1437, 'O’Higgins': 57, 'Maule': 59, 'Ñuble': 14, 'Biobío': 66, 'Araucanía': 15, 'Los Ríos': 1, 'Los Lagos': 26, 'Aysén': 1, 'Magallanes': 4}

In [144]:
region=input()
def porcentaje_poblacion(dfile,region):
  dfile=dfile.copy()

  dfile=dfile[['Region',region]]
  print(dfile)
  porc=np.zeros(len(dfile)-2)
  pob=dfile[region][1]
  print(pob)
  for i in range(2,len(dfile)):
    porc[i-2]=dfile[region][i]*100/pob
result8=porcentaje_poblacion(uci_t,region)

Magallanes
           Region  Magallanes
0   Codigo region          12
1       Poblacion      178362
2      2020-04-01           5
3      2020-04-02          10
4      2020-04-03          11
..            ...         ...
78     2020-06-16           4
79     2020-06-17           4
80     2020-06-18           4
81     2020-06-19           5
82     2020-06-20           4

[83 rows x 2 columns]
178362