<a href="https://colab.research.google.com/github/GLuarte/TareasX/blob/master/TareaDSP_(B%26G).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DSP 
#### TAREA B&G
##### GONZALO LUARTE / RODRIGO SAAVEDRA / ISIDORA SANHUEZA

In [0]:
import numpy as np
import pandas as pd

In [0]:
url1='https://raw.githubusercontent.com/GLuarte/TareasX/master/DspCSV1.csv'

In [0]:
 def dataF_maker(src,ind,col,dataf,nc1,nc2): 
  dataf=pd.DataFrame(src,index=ind,columns=col)
  sumas=[]
  wi=[]
  suma=0
  for i in (dataf):
    for j in (dataf):
      suma+=dataf[j][i]
    sumas.append(suma)
    suma=0
  for i in sumas:
    wi.append(i/sum(sumas))

  dataf.insert(3,nc1,sumas)
  dataf.insert(4,nc2,wi)
  return dataf

In [0]:
def matrix_fill(matrix,txt,A,B):
  matrix=np.zeros((3,3),dtype=int)
  for i in range (3):
    for j in range(3):
      if i==j:
        matrix[i][j]=0
      else:
        print('ingrese ',txt,'entre',A[i],'y',B[j] )
        x=int(input())
        while x!=0 and x!=1:
          print('el valor debe ser 0 o 1, ingrese nuevamente')
          x=int(input())
        matrix[i][j]=(x)
  return np.array(matrix)

In [0]:
c=['AM','DS','IV']
loc=['A','B','C']

In [6]:
dc=pd.read_csv(url1,index_col=0)
print(dc)

     Mano de obra  Materia prima  Transporte  Distribucion  Gastos Generales
Loc
A             100             50          45            50               100
B              50             55          75            60               100
C              75             45          35            50               100

In [7]:
suma1=[]
wi=[]
suma=0
for j in dc.index:
  for i in dc:
    suma+=dc[i][j]
  suma1.append(suma)
  suma=0
dc.insert(5,'Ci',suma1)
for i in suma1:
  wi.append(1/i)
suma=sum(wi)
suma1.clear()
for i in wi:
  suma1.append(i/suma)

dc.insert(6,'1/C',wi)
dc.insert(7,'FO',suma1)
print(dc)

     Mano de obra  Materia prima  Transporte  ...   Ci       1/C        FO
Loc                                           ...
A             100             50          45  ...  345  0.002899  0.317879
B              50             55          75  ...  340  0.002941  0.322553
C              75             45          35  ...  305  0.003279  0.359568

[3 rows x 8 columns]

In [8]:
 print('Usar programa en modo testeo (valores del ejemplo de clase) type (1)\n',
  'Usar el programa modo manual(valores de tablas ingresados por usuario) type (2)' ) 
 y=int(input())
 if(y==1):
  factS=np.array([[0,1,1],[0,0,1],[1,0,0]])
  cpMA=np.array([[0,1,0],[1,0,0],[1,1,0]])
  cpDS=np.array([[0,1,1],[1,0,1],[1,1,0]])
  cpIV=np.array([[0,1,0],[1,0,1],[1,0,0]])
 elif(y==2):
  factS=[];cpMA=[];cpDS=[];cpIV=[]
  factS=matrix_fill(factS,'factores subjetivos',c,c)
  cpMA=matrix_fill(factS,'comparacion pareada de medioambiente',loc,loc)
  cpDS=matrix_fill(factS,'comparacion pareada de disponibilidad de servcios',
                  loc,loc)
  cpIV=matrix_fill(factS,'comparacion pareada de infraestructura vial',loc,loc)

Usar programa en modo testeo (valores del ejemplo de clase) type (1)
 Usar el programa modo manual(valores de tablas ingresados por usuario) type (2)
1

In [9]:
dfactS=pd.DataFrame()
dfactS=dataF_maker(factS,c,c,dfactS,'suma prefe','Wi')
print(dfactS)

    AM  DS  IV  suma prefe    Wi
AM   0   1   1           2  0.50
DS   0   0   1           1  0.25
IV   1   0   0           1  0.25

In [10]:
dcpMA=pd.DataFrame()
dcpMA=dataF_maker(cpMA,loc,loc,dcpMA,'suma','R1')
print(dcpMA)

   A  B  C  suma    R1
A  0  1  0     1  0.25
B  1  0  0     1  0.25
C  1  1  0     2  0.50

In [11]:
dcpDS=pd.DataFrame()
dcpDS=dataF_maker(cpDS,loc,loc,dcpDS,'suma','R2')
print(dcpDS)

   A  B  C  suma        R2
A  0  1  1     2  0.333333
B  1  0  1     2  0.333333
C  1  1  0     2  0.333333

In [12]:
dcpIV=pd.DataFrame()
dcpIV=dataF_maker(cpIV,loc,loc,dcpIV,'suma','R3')
print(dcpIV)

   A  B  C  suma    R3
A  0  1  0     1  0.25
B  1  0  1     2  0.50
C  1  0  0     1  0.25

In [13]:
Fsi=[]
dFsi=pd.DataFrame()
dFsi.insert(0,'R1',dcpMA['R1'])
dFsi.insert(1,'W-MA',dfactS['Wi']['AM'])
dFsi.insert(2,'R2',dcpDS['R2'])
dFsi.insert(3,'W-DS',dfactS['Wi']['DS'])
dFsi.insert(4,'R3',dcpIV['R3'])
dFsi.insert(5,'W-IV',dfactS['Wi']['IV'])
for i in dFsi.index:
  Fsi.append(dFsi['R1'][i]*dFsi['W-MA'][i] + 
             dFsi['R2'][i]*dFsi['W-DS'][i] +
             dFsi['R3'][i]*dFsi['W-IV'][i])
dFsi.insert(6,'Fsi',Fsi)
print(dFsi)

     R1  W-MA        R2  W-DS    R3  W-IV       Fsi
A  0.25   0.5  0.333333  0.25  0.25  0.25  0.270833
B  0.25   0.5  0.333333  0.25  0.50  0.25  0.333333
C  0.50   0.5  0.333333  0.25  0.25  0.25  0.395833

In [14]:
k = float(input())
while k<0 and k>1:
  k = float(input())

.9

In [15]:
Fsi.clear()
dMPL=pd.DataFrame(index=loc)
dMPL.insert(0,'k',k)
dMPL.insert(1,'FO',dc['FO'])
dMPL.insert(2,'1-k',1-k)
dMPL.insert(3,'FS',dFsi['Fsi'])
for i in dMPL.index:
  Fsi.append(dMPL['k'][i]*dMPL['FO'][i] + dMPL['1-k'][i]*dMPL['FS'][i])
dMPL.insert(4,'MPL',Fsi)
Fsi=np.array(Fsi)
for i in dMPL.index:
  if dMPL['MPL'][i]==np.amax(Fsi):
    print('el mayor valor de MPL es ',dMPL['MPL'][i],
          'y corresponde a la localización',i)
print(dMPL)

el mayor valor de MPL es  0.36319433800802103 y corresponde a la localización C
     k        FO  1-k        FS       MPL
A  0.9  0.317879  0.1  0.270833  0.313174
B  0.9  0.322553  0.1  0.333333  0.323631
C  0.9  0.359568  0.1  0.395833  0.363194